/** Scaffold **/
.container {
  max-width: 1120px;
}

@media screen and (min-width: 48em) {
  .container {
    padding: 30px 10px;
  }
}

/***/
body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

@media screen and (min-width: 48em) {
  body {
    padding-top: 30px;
  }
}

.seo {
  display: none;
}

.tours {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 48em) {
  .tours {
    margin-left: 20px;
  }
}

.divider {
  border-top: 1px solid #efefef;
  margin: 15px 0;
}

.divider.full {
  margin: 15px -20px;
}

.tour {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tour .img-container {
  position: relative;
}

.tour .img-container .love {
  position: absolute;
  top: 45%;
  left: 45%;
}

.tour .img-container .img {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .tour {
    padding-bottom: 20px;
  }
  .tour .img-container {
    height: 100%;
  }
  .tour .img-container .img {
    height: 100%;
  }
}

.tour .controls {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

@media screen and (min-width: 48em) {
  .tour .controls {
    bottom: 0;
  }
}

.tour .controls .stars img {
  height: 16px;
}

.tour .controls .reviews {
  font-family: "Helvetica";
  font-size: 10px;
  color: #ffffff;
  line-height: 18px;
}

.tour .content {
  background-color: #fff;
}

.tour .content-inner {
  padding: 10px 20px;
}

.tour .heading {
  font-family: "Helvetica-Bold Helvetica";
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
}

.tour .teaser {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  font-family: 'Helvetica-Oblique Helvetica';
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  font-style: italic;
}

.tour .teaser::before {
  content: '"';
}

.tour .teaser::after {
  content: '"';
}

.tour .facts dd {
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  line-height: 20px;
  display: inline-block;
  margin: 0;
}

.tour .facts dt {
  font-size: 10px;
  color: #999999;
  letter-spacing: 0;
  line-height: 18px;
  width: 50%;
  display: inline-block;
}

.tour .price-container {
  font-weight: bold;
  text-align: right;
}

.tour .price-container .price {
  font-family: Helvetica;
  font-size: 18px;
  color: #333333;
  line-height: 23px;
  margin-top: 5px;
  font-weight: normal;
}

.tour .dates {
  font-size: 12px;
  color: #333333;
  line-height: 20px;
}

.tour .dates dd,
.tour .dates dt {
  display: inline-block;
  margin: 0;
}

.tour .dates dt {
  width: 50%;
}

.tour .dates dd.oos {
  color: red;
}

@media screen and (max-width: 48em) {
  .filter {
    margin-top: 20px;
  }
}

.filter .title {
  background-color: #409cd1;
  color: #fff;
  padding: 20px 20px;
  font-weight: bold;
}

.filter .filter-header {
  font-family: "Helvetica-Bold Helvetica";
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  font-weight: bold;
}

.filter .content {
  padding: 15px;
  margin-top: 10px;
  background-color: #fff;
}

.filter .filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter .filter-list li {
  padding: 5px 0;
}

.filter .filter-list li .hits {
  color: #efefef;
}

.filter .filter-list li.active .hits {
  color: inherit;
}

.filter .filter-list li.active a {
  color: #409cd1;
  font-weight: bold;
}

.filter .filter-list li a {
  text-decoration: none;
  color: #000;
}

.btn {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.more {
  background-color: #409cd1;
  color: #fff;
}

.sorting {
  padding: 20px;
  text-align: center;
  color: #409cd1;
}

@media screen and (min-width: 48em) {
  .sorting {
    text-align: right;
    margin-top: -60px;
    padding-right: 0;
  }
}

@media screen and (min-width: 48em) {
  .md-border-r {
    border-right: 1px solid #efefef;
  }
}

@media screen and (max-width: 48em) {
  .sm-border-b {
    border-bottom: 1px solid #efefef;
  }
}

.no-result {
  background-color: #ca2b2b;
  color: #fff;
  list-style-type: none;
  padding: 20px;
}
