@import './variables';

/** Scaffold **/

.container {
  max-width: 1120px;
  @media screen and (min-width: 48em) {
    padding: 30px 10px;
  }
}

/***/

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: $font;

  @media screen and (min-width: 48em) {
    padding-top: 30px;
  }
}

.seo {
  display: none;
}

.tours {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 48em) {
    margin-left: 20px;
  }
}

.divider {
  border-top: 1px solid #efefef;
  margin: 15px 0;

  &.full {
    margin: 15px -20px;
  }
}

.tour {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;

  .img-container {
    position: relative;

    .love {
      position: absolute;
      top: 45%;
      left: 45%;
    }

    .img {
      width: 100%;
    }
  }

  @media screen and (min-width: 48em) {
    padding-bottom: 20px;

    .img-container {
      height: 100%;

      .img {
        height: 100%;
      }
    }
  }

  .controls {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    @media screen and (min-width: 48em) {
      bottom: 0;
    }

    .stars {
      img {
        height: 16px;
      }
    }

    .reviews {
      font-family: $font;
      font-size: 10px;
      color: #ffffff;
      line-height: 18px;
    }
  }

  .content {
    //padding: 10px 20px;
    background-color: #fff;
  }

  .content-inner {
    padding: 10px 20px;
  }

  .heading {
    font-family: $heading-font;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
  }

  .teaser {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    font-family: 'Helvetica-Oblique Helvetica';
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    overflow: hidden;
    height: 30px;
    text-overflow: ellipsis;
    font-style: italic;
  }

  .teaser::before {
    content: '"';
  }

  .teaser::after {
    content: '"';
  }

  .facts {
    dd {
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      line-height: 20px;
      display: inline-block;
      margin: 0;
    }
    dt {
      font-size: 10px;
      color: #999999;
      letter-spacing: 0;
      line-height: 18px;
      width: 50%;
      display: inline-block;
    }
  }
  .price-container {
    font-weight: bold;
    text-align: right;
    .price {
      font-family: Helvetica;
      font-size: 18px;
      color: #333333;
      line-height: 23px;
      margin-top: 5px;
      font-weight: normal;
    }
  }
  .dates {
    font-size: 12px;
    color: #333333;
    line-height: 20px;

    dd,
    dt {
      display: inline-block;
      margin: 0;
    }
    dt {
      width: 50%;
    }

    dd.oos {
      color: red;
    }
  }
}

.filter {
  @media screen and (max-width: 48em) {
    margin-top: 20px;
  }

  .title {
    background-color: $primary;
    color: #fff;
    padding: 20px 20px;

    font-weight: bold;
  }

  .filter-header {
    font-family: $heading-font;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    font-weight: bold;
  }

  .content {
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;
  }
  .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 5px 0;
      .hits {
        color: #efefef;
      }
      &.active {
        .hits {
          color: inherit;
        }
        a {
          color: $primary;
          font-weight: bold;
        }
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.btn {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.more {
  background-color: $primary;
  color: #fff;
}

.sorting {
  padding: 20px;
  text-align: center;
  color: $primary;

  @media screen and (min-width: 48em) {
    text-align: right;
    margin-top: -60px;
    padding-right: 0;
  }
}

.md-border-r {
  @media screen and (min-width: 48em) {
    border-right: 1px solid #efefef;
  }
}

.sm-border-b {
  @media screen and (max-width: 48em) {
    border-bottom: 1px solid #efefef;
  }
}
